.footer {
  min-height: 180px;
  background-color: #303030;
  padding: 45px 0 50px 0;
  color: #fff;

  &__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__subtitle {
    font-size: 20px;
  }

  &__link {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    color: #fff;
  }

  &__contacts {
    text-align: right;
  }
}