.slider {
  display: flex;
  flex-direction: column;
  position: relative;

  &__control {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__btn {
    background: none;
    border: none;
    box-shadow: none;
    width: 38px;
    height: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    &--prev {
      background-image: url('../images/icons/left.svg');
    }

    &--next {
      background-image: url('../images/icons/right.svg');
    }
  }

  &__amount {
    margin: 0 10px;
  }

  &__slide-now {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }

  &__slide-total {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
  }

  &__img-wrapper {
    max-width: 650px;
    width: 100%;
  }

  &__img-inner {
    width: 100%;
    height: 410px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }

  .dot {
    width: 20px;
    height: 4px;
    background-color: white;
    opacity: 0.7;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 12px;
    }

    &.active {
      opacity: 1;
    }
  }
}